
{{ form_start(form) }}

    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}

<script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>

<script>

  var placesAutocomplete = places({
    appId: 'plJ9KMPU6SCC',
    apiKey: 'c8c402900b72a30b50b2f803fddee305',
    container: document.querySelector('#user_adresse')
  });

  placesAutocomplete.on('change', function resultSelected(e) {
document.getElementById('user_ville').value = e.suggestion.name;
document.getElementById('user_lat').value = e.suggestion.latlng.lat;
document.getElementById('user_lng').value = e.suggestion.latlng.lng;
document.getElementById('user_codePostale').value = e.suggestion.postcode;

  });

</script>
