{{ form_start(form) }}
    {{ form_widget(form) }}
         <div class="col-lg-12">
    <div class="row mt">
           <br>
     <br/>
  </div></div>
<br/>
     <div style="font-size: large;">
     <center>
    <button class="btn btn-outline-secondary"> Enregistrer </button></center>
    <br>
    </div>
{{ form_end(form) }}

<script>


</script>