{% extends 'entreprise/userPro.html.twig' %}

{% block title %}New HoraireTravail{% endblock %}

{% block body %}

<div class="col-lg-12"> 
    <h1>HoraireTravail</h1>

      <div class="card bg-gray mb-20 d-inline-block col-lg-12" style="max-width: 30rm;">
      <br>
    {{ include('entreprise/horaire_travail/_form.html.twig') }}

    
{% endblock %}
