{{ form_start(form) }}
    {{ form_widget(form) }}


         <div class="col-lg-12">
    <div class="row mt">
          
        
</div></div>
<br/>
     <div style="font-size: large;">
     <center>
    <button class="btn btn-outline-secondary"> Enregistrer </button></center>
    <br>
    </div>
{{ form_end(form) }}


<script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>

<script>

  var placesAutocomplete = places({
    appId: 'plJ9KMPU6SCC',
    apiKey: 'c8c402900b72a30b50b2f803fddee305',
    container: document.querySelector('#entreprise_user_adresse')
  });

  placesAutocomplete.on('change', function resultSelected(e) {
document.getElementById('entreprise_user_ville').value = e.suggestion.name;
document.getElementById('entreprise_user_lat').value = e.suggestion.latlng.lat;
document.getElementById('entreprise_user_lng').value = e.suggestion.latlng.lng;
    document.getElementById('entreprise_user_codePostale').value = e.suggestion.postcode;
  });

  
</script>
<script>

</script>