<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> TIKITI- Register</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
{% block stylesheet %}
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
{% endblock %}

  <!-- Custom styles for this template-->
  <link href="{{ asset('user/css/sb-admin-2.min.css') }}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-7">
        <!-- Nested Row within Card Body -->
        <div class="user ">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4"> Crée Votre compte ! </h1>
              </div>
              
              {% include 'admin/entreprise/_form.html.twig' %}
            
              <div class="text-center">
                <a class="small" href="{{ path('userPro_motdepasseoublie') }}">Mot De Passe Oubliée </a>
              </div>

              <div class="text-center">
                <a class="small" href="{{ path('userPro_login') }}">Vous Avez Déjà Un Compte ? Connexion!</a>
              </div>

            </div>
          </div>
      </div>
    </div>

  </div>

  <!-- Algolia --!>
  <script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>

<script>

  var placesAutocomplete = places({
    appId: 'plJ9KMPU6SCC',
    apiKey: 'c8c402900b72a30b50b2f803fddee305',
    container: document.querySelector('#userPro_adresse')
  });

  placesAutocomplete.on('change', function resultSelected(e) {
document.getElementById('userPro_ville').value = e.suggestion.name;
document.getElementById('userPro_lat').value = e.suggestion.latlng.lat;
document.getElementById('userPro_lng').value = e.suggestion.latlng.lng;
document.getElementById('userPro_codePostale').value = e.suggestion.postcode;

  });

</script>
{%block JavaScript %}
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for allnar pages-->
  <script src="js/sb-admin-2.min.js"></script>
{% endblock %}
</body>

</html>
