{% extends 'admin/admin.html.twig' %}

{% block body %}
 <div class="row mt">
          <div class="col-lg-12">
            <h2><i class="fa fa-angle-right"> Users </i></h2>
            <br>
            <div class="form-panel">
                <h4><i class="fa fa-angle-right"></i> Chart Example 4</h4>
                <div class="panel-body">
                  <div id="hero-donut" class="graph"></div>
                </div>
              </div>
      </div>
      </div>
  

  <script src="{{ asset('admin/lib/morris-conf.js') }}"></script>
              
{% endblock body %}
