{% extends 'admin/admin.html.twig' %}

{% block body %}
   <div class="row">
      
    <div class="col-lg-6">
              <div class="content-panel">
                <h4><i class="fa fa-angle-right"></i> Chart </h4>
                <div class="panel-body">
                  <div id="hero-donut" class="graph"><svg height="342" version="1.1" width="576" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
                     <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc>
                       <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#3498db" d="M288,282.5A109,109,0,0,0,396.9999996638166,173.50856083997223" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                         <path fill="#3498db" stroke="#ffffff" d="M288,285.5A112,112,0,0,0,399.99999965456385,173.508796459421L446.49999951114614,173.51244856087703A158.5,158.5,0,0,1,288,332Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                         <path fill="none" stroke="#2980b9" d="M396.9999996638166,173.50856083997223A109,109,0,0,0,201.62725385519667,107.01128875210951" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path><path fill="#2980b9" stroke="#ffffff" d="M399.99999965456385,173.508796459421A112,112,0,0,0,199.25002230992686,105.18132422235105L158.440880782795,73.76693312816425A163.5,163.5,0,0,1,451.49999949572486,173.51284125995835Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                         <path fill="none" stroke="#34495e" d="M201.62725385519667,107.01128875210951A109,109,0,0,0,221.50450525756543,259.8675238672434" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#34495e" stroke="#ffffff" d="M199.25002230992686,105.18132422235105A112,112,0,0,0,219.67435402612227,262.2446116801033L191.3070099387534,299.0894727794319A158.5,158.5,0,0,1,162.4029333582447,76.81687401109501Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                         <path fill="none" stroke="#3498db" d="M221.50450525756543,259.8675238672434A109,109,0,0,0,287.96575664063926,282.49999462106564" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#3498db" stroke="#ffffff" d="M219.67435402612227,262.2446116801033A112,112,0,0,0,287.9648141628587,285.4999944730216L287.9502057572598,331.9999921783386A158.5,158.5,0,0,1,191.3070099387534,299.0894727794319Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <text x="288" y="163.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 800 15px Arial;" font-size="15px" font-weight="800" transform="matrix(2.4773,0,0,2.4773,-425.4545,-257.7841)" stroke-width="0.4036697247706422"><tspan dy="6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Frosted</tspan></text>
                            <text x="288" y="183.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 14px Arial;" font-size="14px" transform="matrix(2.2708,0,0,2.2708,-366,-223.0313)" stroke-width="0.4403669724770642"><tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">40%</tspan></text>
                            </svg>
                             </div>
                </div>
          </div>
      </div>
  

              
{% endblock body %}