{{ form_start(form) }}
    {{ form_widget(form) }}
     <br>   
     <div style="font-size: large;">
     <center>
    <button class="btn btn-theme02"><i class="fa fa-check"> Enregistrer </i></button></center>
    </div>
{{ form_end(form) }}